*.dll
*.pdb
*.suo
*.user
*/packages/
obj
bin
*/[Bb]in/
*/[Oo]bj/
*.dbmdl
/TestResults
*.dbmdl
*.rar
*.zip
.refactorlog
*.sln.GhostDoc.user.dic
*.sln.GhostDoc.xml
*.jfm
*/logs/
.vs/config/applicationhost.config
*/.vs/
/*.xTest